
<!DOCTYPE html>
<html lang="en">
<head>
     
	<title>Untouchables</title>
	<meta charset="utf-8">
	<link href='https://fonts.googleapis.com/css?family=Bungee Shade' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Fruktur' rel='stylesheet'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="jquery_validate/jquery.validate.min.js"></script>
	<link rel="stylesheet" href="../styles.css">
        
         <script>
$(document).ready(function() {
 $('#signup').validate({
   rules: {
     email: {
        required: true,
        email: true
     },
      messages: {
      email: {
         required: "Please supply an e-mail address.",
         email: "This is not a valid email address."
       },
      errorPlacement: function(error, element) {
       if ( element.is(":radio") || element.is(":checkbox")) {
          error.appendTo( element.parent());
        } else {
          error.insertAfter(element);
        }
    }
    }
 }
  }); // end validate
  $('#confirm').dialog({
  modal: true,
  autoOpen: false,
  buttons : {
    "Confirm" : function() {
      $('#robot').effect('explode');
      $(this).dialog('close');
    },
    "Cancel" : function() {
      $(this).dialog('close');
    }
  } // end buttons
});
$('#robot').click(function() {
  $('#confirm').dialog('open');
}); // end click
}); // end ready
  </script>
</head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="order.html">Order</a></li>			
        <li><a href="newsletter.html">Newsletter</a></li>
        <li><a href="login.php"> Admin</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        
      </ul>
    </div>
  </div>
</nav>
<body>
<div class="company">
	<img src="../images/mobster.png" alt="Mobster">
	<h1>Untouchables</h1>
	<p>'Pizza so good, it'll get ya' whacked'</p>
</div>
   <div class="content">
	<div class="main">
	<h1>Add Your Email To Get Updated On New Store Openings</h1>
		<form action="../database/news_val.php" method="post" name="signup1" id="signup1">
			
			<div>
				<label for="email" class="label">E-mail Address*</label>
				<input name="email" type="text" id="email">
                                <input type="hidden" name="action" value="signup1">
			</div>
			
			<div class="labelBlock">Do you love how our pizza tastes? </div>
			<div class="indent">
				<input  type="radio" name="spam" id="yes" value="Yes" class="required" title="Please select an option">
				<label for="yes">Yes</label>
				<input type="radio" name="spam" id="definitely" value="No">
				<label for="definitely">No</label>
			</div>
			<div>
				<input type="submit" name="submit" id="submit" value="Submit">
			</div>
		</form>
		</div>
	</div>

</div>