body{
  background-color: #f35843;
}
img {
  display: none;
}
.company {
  margin-top: 10%;
  text-align: center;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  padding-top: 35px;
  padding-bottom: 35px;
}
.company h1 {
  font-family: 'Bungee Shade', Arial, sans-serif;
  font-size: 5rem;
}
.company p {
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Fruktur', Arial, sans-serif;
}
#gallery img {
  width: 20rem;
  height: 20rem;
  display: inline-block;
  margin: .75rem;
  border: 1px solid #000000;
}
figure {
  display: inline-block;
}
figcaption {
  font-size: 1em;
  text-align: center;
  display: none;
}
.button {
  margin: 10rem;
  position: relative;
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
}



@media (min-width: 650px) {

body {
  width: 100%;
  background-color: #f35843;
  background-size: cover;
}

img {
  display: inline;
  margin-right: 3%;
  width: auto;
  float: right;

}

.message {
  background-color: #777777;
  display: inline-block;
  max-width: 50%;
  margin-top: 3%;
  margin-left: 30%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: 6px solid #000000;
  border-radius: 6px 6px 6px 6px;
}
footer {
  color: #ffffff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;

}

h1{
  text-align: center;
  font-weight: bold;

}

h2{
  padding: 1px;
  border: 1px solid #000000;
  border-radius: 5px 5px 5px 5px;
}
#accordion {
  padding: 1px;
  background-color:#ffffff;
  color: #ffffff;
}
input[type=text],[type=password], textarea, select {
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
}



#signup label.error {
  font-size: 1em;
  color: #ffffff;
  font-weight: bold;
  display: block;
  margin-left:10rem;
}
#signup  input.error, #signup select.error  {
  background: #666666;
  border: 1px solid white;
}

form {
  height: auto;
  margin-left: 15rem;
  margin-right: 15rem;
  border: 2px solid black;
}

}
table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
  padding: 2rem;
}
table {
  margin-left: 5rem;
}

.error {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}


